<!DOCTYPE html>
<html lang="vi">
{{template "head" .}}
<style>
    @media (min-width: 769px) {
        .ant-layout-content {
            margin-left: 0px;
	    margin-right:0px; 
	    margin-top:0px;
        }
    }

    .ant-col-sm-24 {
        margin-top: 10px;
    }
</style>
<body onload="showTime()">
<a-layout id="app" v-cloak>
    {{ template "commonSider" . }}
    <a-layout id="content-layout">
        <a-layout-content>
            <a-spin :spinning="spinning" :delay="200" :tip="loadingTip"/>
	    <!-- Topbar -->
	    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <!-- <button id="collapseMenuForcus" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button> -->

			<!-- Nav Item - User Information -->
                        <li class="nav-item dropdown" style="list-style: none;">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Administrator</span>
                                <img class="img-profile rounded-circle"
                                    src="https://avatars.githubusercontent.com/u/43093213?s=400&u=32591b34f6d90ea9fe09714ad42795185a989566&v=4">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-left shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="{{ .base_path }}xui">
                                    <i class="fas fa-home fa-sm fa-fw mr-2 text-gray-400"></i>
                                    X-UI <sup>Unofficial</sup>
                                </a>
                                <a class="dropdown-item" href="{{ .base_path }}xui/inbounds">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Server VPN
                                </a>
                                <a class="dropdown-item" href="{{ .base_path }}xui/setting">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cài đặt
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Đăng xuất
                                </a>
                            </div>
                        </li>

			<div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
			Thông Tin Xray Core: 
                            <a-tag :color="status.xray.color">[[ status.xray.state ]]</a-tag>
                            <a-tooltip v-if="status.xray.state === State.Error">
                                <template slot="title">
                                    <p v-for="line in status.xray.errorMsg.split('\n')">[[ line ]]</p>
                                </template>
                                <a-icon type="question-circle" theme="filled"></a-icon>
                            </a-tooltip>
                            <a-tag color="green" @click="openSelectV2rayVersion">[[ status.xray.version ]]</a-tag>
                            <a-tag color="blue" @click="openSelectV2rayVersion">Chuyển đổi phiên bản</a-tag>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-box-open fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <!-- <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div> -->

				    <div class="col-md-12 mb-4">
                                        <div class="card border-left-primary shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                            Thông tin Xray-Core</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
					    	        <a-tag :color="status.xray.color">[[ status.xray.state ]]</a-tag>
						        <a-tooltip v-if="status.xray.state === State.Error">
                                		                <template slot="title">
                                                                    <p v-for="line in status.xray.errorMsg.split('\n')">[[ line ]]</p>
                                                                </template>
                                                            <a-icon type="question-circle" theme="filled"></a-icon>
                                                        </a-tooltip>
						           <a-tag color="green" @click="openSelectV2rayVersion">[[ status.xray.version ]]</a-tag>
                            			           <a-tag color="blue" @click="openSelectV2rayVersion">Chuyển đổi phiên bản</a-tag>
					               </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->
            <transition name="list" appear>
                <a-row style="margin-left:24px; margin-right:24px;">
		    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
			    <h1 class="h3 mb-0 text-gray-800">X-UI <sup> Unofficial</sup></h1>
                            <a href="https://github.com/dopaemon/x-ui.git" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-github-alt fa-sm text-white-50"></i>Github <sup>dopaemon</sup></a>
                    </div>



			    <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Thông tin hệ thống</h6>
                                </div>
                                <div class="card-body">
                                    <h4 class="small font-weight-bold">CPU <span
                                            class="float-right"> [[ status.cpu.percent ]]% / 100% </span></h4>
                                    <div class="mb-4">
					<template>
					  <a-progress :percent="status.cpu.percent" style="width: 95%" status="active" size="big"/>
					</template>
                                    </div>
                                    <h4 class="small font-weight-bold">RAM <span
                                            class="float-right"> [[ sizeFormat(status.mem.current) ]] / [[ sizeFormat(status.mem.total) ]] </span></h4>
                                    <div class="mb-4">
					<template>
                                          <a-progress :percent="status.mem.percent" style="width: 95%" status="active" size="big"/>
                                        </template>
                                    </div>
                                    <h4 class="small font-weight-bold">SWAP <span
                                            class="float-right"> [[ sizeFormat(status.swap.current) ]] / [[ sizeFormat(status.swap.total) ]] </span></h4>
                                    <div class="mb-4">
					<template>
                                          <a-progress :percent="status.swap.percent" style="width: 95%" status="active" size="big"/>
                                        </template>
                                    </div>
                                    <h4 class="small font-weight-bold">DISK <span
                                            class="float-right"> [[ sizeFormat(status.disk.current) ]] / [[ sizeFormat(status.disk.total) ]] </span></h4>
                                    <div class="mb-4">
					<template>
                                          <a-progress :percent="status.disk.percent" style="width: 95%" status="active" size="big"/>
                                        </template>
                                    </div>
                                </div>
                            </div>


                </a-row>
            </transition>
            <transition name="list" appear>
                <a-row style="margin-left:10px; margin-right:10px;">
		    <a-col :sm="24" :md="12">
			<div class="col-md-12 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Thời Gian</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"> <div id="myClockDisplay" class="clock"> </div> </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clock fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
		    </a-col>
		    <a-col :sm="24" :md="12">
			<div class="col-md-12 mb-4">
                            <div class="card border-left-danger shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                                Hôm Nay</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"> <div id="myDateDisplay"> </div> </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
		    </a-col>
                    <a-col :sm="24" :md="12">
                        <div class="col-md-12 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Thời gian hoạt động</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"> [[ formatSecond(status.uptime) ]] </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-user-clock fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a-col>
                    <a-col :sm="24" :md="12">
			<div class="col-md-12 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                System Loader</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"> [[ status.loads[0] ]] | [[ status.loads[1] ]] | [[ status.loads[2] ]] </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-cogs fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a-col>
                    <a-col :sm="24" :md="12">
			<div class="col-md-12 mb-4">
                            <div class="card border-left-secondary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                                Số kết nối TCP/UDP</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"> [[ status.tcpCount ]] / [[ status.udpCount ]] </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-network-wired fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a-col>
                    <a-col :sm="24" :md="12">
			<div class="col-md-12 mb-4">
                            <div class="card border-left-dark shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                                Tốc Độ Tải Lên | Xuống</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"> [[ sizeFormat(status.netIO.up) ]] / S | [[ sizeFormat(status.netIO.down) ]] / S</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-upload fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a-col>
                    <a-col :sm="24" :md="12">
			<div class="col-md-12 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Tổng lưu lượng hệ thống từ khi bật</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Lên: [[ sizeFormat(status.netTraffic.sent) ]] | Xuống: [[ sizeFormat(status.netTraffic.recv) ]] </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-cloud fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a-col>
		    <a-col :sm="24" :md="12">
			<div class="col-md-12 mb-4">
                            <div class="card bg-success text-white shadow h-100 py-2">
                                <div class="card-body">
                                    X-UI Unofficial
                                    <div class="text-white-50 small"><a href="https://github.com/dopaemon/x-ui.git">@dopaemon</a></div>
                                </div>
                            </div>
                        </div>
		    </a-col>
                </a-row>
            </transition>

	    <!-- Footer -->
            <footer class="sticky-footer shadow bg-white" style="margin-left: 0px; margin-right: 0px; margin-bottom: 0px;">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; X-UI Unofficial</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </a-layout-content>
    </a-layout>
    <a-modal id="version-modal" v-model="versionModal.visible" title="Chuyển Phiên Bản"
             :closable="true" @ok="() => versionModal.visible = false"
             ok-text="Đồng ý" cancel-text="Hủy bỏ">
        <h2>Nhấp vào phiên bản bạn muốn chuyển đổi</h2>
        <h2>Vui lòng chọn cẩn thận, phiên bản cũ có thể không tương thích với cấu hình</h2>
        <template v-for="version, index in versionModal.versions">
            <a-tag :color="index % 2 == 0 ? 'blue' : 'green'"
                   style="margin: 10px" @click="switchV2rayVersion(version)">
                [[ version ]]
            </a-tag>
        </template>
    </a-modal>
</a-layout>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bạn thực sự muốn đăng xuất ???</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Khi chọn "Đăng xuất" bạn sẻ quay lại màn hình đăng nhập.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Trở lại</button>
                    <a class="btn btn-primary" href="{{ .base_path }}logout">Đăng xuất</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Menu Forcus -->
    <div id="collapseMenuForcus" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Menu X-UI Unofficial:</h6>
               <a class="collapse-item active" href="#">Line 1</a>
               <a class="collapse-item" href="#">Line 2</a>
               <a class="collapse-item" href="#">Line 3</a>
               <a class="collapse-item" href="#">Line 4</a>
        </div>
    </div>

<!-- Bootstrap core JavaScript-->
<script src="{{ .base_path }}assets/vendor/jquery/jquery.min.js"></script>
<script src="{{ .base_path }}assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="{{ .base_path }}assets/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="{{ .base_path }}assets/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="{{ .base_path }}assets/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="{{ .base_path }}assets/js/demo/chart-area-demo.js"></script>
<script src="{{ .base_path }}assets/js/demo/chart-pie-demo.js"></script>

<!-- Date Time JS -->
<script type="text/javascript">
    function showTime() {
        var timediv = document.getElementById("myClockDisplay");
        var datediv = document.getElementById("myDateDisplay");
        var dt = new Date();
        var d = dt.getDate();
        var m = dt.getMonth() + 1;
        var y = dt.getFullYear();
        var hh = dt.getHours();
        var mm = dt.getMinutes();
        var ss = dt.getSeconds();
	var hht = 0;
        var session = "Sáng";
        if (hh == 0) {
            hh = 12;
        }

        if (hh > 12) {
            hh = hh - 12;
	    hht = hh;
            session = "Chiều";
        }

        if (hht > 6) {
	    session = "Tối";
        }

        d = (d < 10) ? "0" + d : d;
        m = (m < 10) ? "0" + m : m;
        hh = (hh < 10) ? "0" + hh : hh;
        mm = (mm < 10) ? "0" + mm : mm;
        ss = (ss < 10) ? "0" + ss : ss;
        timediv.textContent = hh + " Giờ " + mm + " Phút " + ss + " Giây | " + session;
        datediv.textContent = "Ngày " + d + " Tháng " + m + " Năm " + y;
        setTimeout(showTime, 1000);
     }
</script>

<script type="text/javascript">
	document.getElementById("CPUInfo").value = Math.trunc(status.cpu.percent);
        document.getElementById("RAMInfo").value = Math.trunc("status.mem.percent");

	document.getElementById("CPUInfo").style.width = Math.trunc(status.cpu.percent) + "%";
	document.getElementById("RAMInfo").style.width = Math.trunc("status.mem.percent") + "%";

	alert(Math.trunc(status.cpu.percent) + "%");

</script>


{{template "js" .}}
<script>
    const State = {
        Running: "running",
        Stop: "stop",
        Error: "error",
    }
    Object.freeze(State);

    class CurTotal {

        constructor(current, total) {
            this.current = current;
            this.total = total;
        }

        get percent() {
            if (this.total === 0) {
                return 0;
            }
            return toFixed(this.current / this.total * 100, 2);
        }

        get color() {
            const percent = this.percent;
            if (percent < 80) {
                return '#67C23A';
            } else if (percent < 90) {
                return '#E6A23C';
            } else {
                return '#F56C6C';
            }
        }
    }

    class Status {
        constructor(data) {
            this.cpu = new CurTotal(0, 0);
            this.disk = new CurTotal(0, 0);
            this.loads = [0, 0, 0];
            this.mem = new CurTotal(0, 0);
            this.netIO = {up: 0, down: 0};
            this.netTraffic = {sent: 0, recv: 0};
            this.swap = new CurTotal(0, 0);
            this.tcpCount = 0;
            this.udpCount = 0;
            this.uptime = 0;
            this.xray = {state: State.Stop, errorMsg: "", version: "", color: ""};

            if (data == null) {
                return;
            }
            this.cpu = new CurTotal(data.cpu, 100);
            this.disk = new CurTotal(data.disk.current, data.disk.total);
            this.loads = data.loads.map(load => toFixed(load, 2));
            this.mem = new CurTotal(data.mem.current, data.mem.total);
            this.netIO = data.netIO;
            this.netTraffic = data.netTraffic;
            this.swap = new CurTotal(data.swap.current, data.swap.total);
            this.tcpCount = data.tcpCount;
            this.udpCount = data.udpCount;
            this.uptime = data.uptime;
            this.xray = data.xray;
            switch (this.xray.state) {
                case State.Running:
                    this.xray.color = "green";
                    break;
                case State.Stop:
                    this.xray.color = "orange";
                    break;
                case State.Error:
                    this.xray.color = "red";
                    break;
                default:
                    this.xray.color = "gray";
            }
        }
    }

    const versionModal = {
        visible: false,
        versions: [],
        show(versions) {
            this.visible = true;
            this.versions = versions;
        },
        hide() {
            this.visible = false;
        },
    };

    const app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            siderDrawer,
            status: new Status(),
            versionModal,
            spinning: false,
            loadingTip: 'Đang tải',
        },
        methods: {
            loading(spinning, tip = 'Đang tải') {
                this.spinning = spinning;
                this.loadingTip = tip;
            },
            async getStatus() {
                const msg = await HttpUtil.post('/server/status');
                if (msg.success) {
                    this.setStatus(msg.obj);
                }
            },
            setStatus(data) {
                this.status = new Status(data);
            },
            async openSelectV2rayVersion() {
                this.loading(true);
                const msg = await HttpUtil.post('server/getXrayVersion');
                this.loading(false);
                if (!msg.success) {
                    return;
                }
                versionModal.show(msg.obj);
            },
            switchV2rayVersion(version) {
                this.$confirm({
                    title: 'Chuyển phiên bản xray',
                    content: 'Có chuyển phiên bản xray sang không' + ` ${version}?`,
                    okText: 'Đảm bảo',
                    cancelText: 'Hủy bỏ',
                    onOk: async () => {
                        versionModal.hide();
                        this.loading(true, 'Trong quá trình cài đặt, vui lòng không làm mới trang này');
                        await HttpUtil.post(`/server/installXray/${version}`);
                        this.loading(false);
                    },
                });
            },
        },
        async mounted() {
            while (true) {
                try {
                    await this.getStatus();
                } catch (e) {
                    console.error(e);
                }
                await PromiseUtil.sleep(2000);
            }
        },
    });
</script>
</body>
</html>
