<!DOCTYPE html>
<html lang="vi">
{{template "head" .}}
<style>
    @media (min-width: 769px) {
        .ant-layout-content {
	    margin-left: 0px;
	    margin-right:0px; 
	    margin-top:0px;
        }
    }

    .ant-col-sm-24 {
        margin-top: 10px;
    }

    .ant-tabs-bar {
        margin: 0;
    }

    .ant-list-item {
        display: block;
    }

    .ant-tabs-top-bar {
        background: white;
    }
</style>
<body>
<a-layout id="app" v-cloak>
    {{ template "commonSider" . }}
    <a-layout id="content-layout">
        <a-layout-content>
            <a-spin :spinning="spinning" :delay="500" tip="loading">

	      <!-- Topbar -->
	      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <!-- <button id="collapseMenuForcus" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button> -->

			<!-- Nav Item - User Information -->
                        <li class="nav-item dropdown" style="list-style: none;">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Administrator</span>
                                <img class="img-profile rounded-circle"
                                    src="https://avatars.githubusercontent.com/u/43093213?s=400&u=32591b34f6d90ea9fe09714ad42795185a989566&v=4">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-left shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="{{ .base_path }}xui">
                                    <i class="fas fa-home fa-sm fa-fw mr-2 text-gray-400"></i>
                                    X-UI <sup>Unofficial</sup>
                                </a>
                                <a class="dropdown-item" href="{{ .base_path }}xui/inbounds">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Server VPN
                                </a>
                                <a class="dropdown-item" href="{{ .base_path }}xui/setting">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cài đặt
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Đăng xuất
                                </a>
                            </div>
                        </li>

			<div class="topbar-divider d-none d-sm-block"></div>

                </nav>
                <!-- End of Topbar -->

		<transition name="list" appear>
		<a-row style="margin-left:24px; margin-right:24px;">
		    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
			    <h1 class="h3 mb-0 text-gray-800">X-UI <sup> Unofficial</sup></h1>
                        <a href="https://github.com/dopaemon/x-ui.git" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-github-alt fa-sm text-white-50"></i> Github <sup>Unofficial</sup></a> -->
                    </div>
		</a-row>
		</transition>

		<transition name="list" appear>
		<a-row style="margin-left:24px; margin-right:24px;">


                <a-space direction="vertical">
                    <a-space direction="horizontal">
                        <a-button type="primary" :disabled="saveBtnDisable" @click="updateAllSetting">Lưu cấu hình</a-button>
                        <a-button type="danger" :disabled="!saveBtnDisable" @click="restartPanel">Khởi động lại bảng điều khiển</a-button>
                    </a-space>
                    <a-tabs default-active-key="1">
                        <a-tab-pane key="1" tab="Cấu hình bảng điều khiển">
                            <a-list item-layout="horizontal" style="background: white">
                                <setting-list-item type="text" title="Giám sát bảng điều khiển IP" desc="Để trống theo mặc định để nghe tất cả IP，Khởi động lại bảng điều khiển để có hiệu lực" v-model="allSetting.webListen"></setting-list-item>
                                <setting-list-item type="number" title="Port truy cập bảng điều khiển" desc="Khởi động lại bảng điều khiển để có hiệu lực" v-model.number="allSetting.webPort"></setting-list-item>
                                <setting-list-item type="text" title="Đường dẫn tệp khóa công khai của chứng chỉ bảng điều khiển" desc="Điền vào một '/' Đường dẫn tuyệt đối ở đầu，Khởi động lại bảng điều khiển để có hiệu lực" v-model="allSetting.webCertFile"></setting-list-item>
                                <setting-list-item type="text" title="Đường dẫn tệp khóa chứng chỉ bảng điều khiển" desc="Điền vào một '/' Đường dẫn tuyệt đối ở đầu，Khởi động lại bảng điều khiển để có hiệu lực" v-model="allSetting.webKeyFile"></setting-list-item>
                                <setting-list-item type="text" title="bảng điều khiển url Đường dẫn gốc" desc="Phải bắt đầu với '/' Bắt đầu ， với '/' kết thúc ， Khởi động lại bảng điều khiển để có hiệu lực" v-model="allSetting.webBasePath"></setting-list-item>
                            </a-list>
                        </a-tab-pane>
                        <a-tab-pane key="2" tab="Đặt Lại Tài Khoản">
                            <a-form style="background: white; padding: 20px">
                                <a-form-item label="tên người dùng ban đầu">
                                    <a-input v-model="user.oldUsername" style="max-width: 300px"></a-input>
                                </a-form-item>
                                <a-form-item label="Mật khẩu cũ">
                                    <a-input type="password" v-model="user.oldPassword"
                                             style="max-width: 300px"></a-input>
                                </a-form-item>
                                <a-form-item label="tên đăng nhập mới">
                                    <a-input v-model="user.newUsername" style="max-width: 300px"></a-input>
                                </a-form-item>
                                <a-form-item label="mật khẩu mới">
                                    <a-input type="password" v-model="user.newPassword"
                                             style="max-width: 300px"></a-input>
                                </a-form-item>
                                <a-form-item>
                                    <a-button type="primary" @click="updateUser">Chấp Nhận Thay Đổi Để Không Bị Mất Tài Khoản</a-button>
                                </a-form-item>
                            </a-form>
                        </a-tab-pane>
                        <a-tab-pane key="3" tab="Cài đặt liên quan xray">
                            <a-list item-layout="horizontal" style="background: white">
                                <setting-list-item type="textarea" title="Mẫu cấu hình xray" desc="Tạo tệp cấu hình xray cuối cùng dựa trên mẫu này ，Khởi động lại bảng điều khiển để có hiệu lực" v-model="allSetting.xrayTemplateConfig"></setting-list-item>
                            </a-list>
                        </a-tab-pane>
			<a-tab-pane key="4" tab="Telegram Bot Settings">
                            <a-list item-layout="horizontal" style="background: white">
				<setting-list-item type="switch" title="Bật bot Telegram" desc="Khởi động lại bảng điều khiển để có hiệu lực"  v-model="allSetting.tgBotEnable"></setting-list-item>
                                <setting-list-item type="text" title="TOKEN Bot" desc="Khởi động lại bảng điều khiển để có hiệu lực"  v-model="allSetting.tgBotToken"></setting-list-item>
                                <setting-list-item type="number" title="ChatId Telegram" desc="Khởi động lại bảng điều khiển để có hiệu lực"  v-model.number="allSetting.tgBotChatId"></setting-list-item>
                                <setting-list-item type="text" title="Thời gian thông báo Telegram" desc="Cách sử dụng: &#13;&#10; - @ hourly : để thông báo hàng giờ &#13;&#10; - 30 * * * * * : ₫ể thông báo sau mỗi 30 phút &#13;&#10; - @ every 1h30m : thông báo sau 1 giờ và 30 phút"  v-model="allSetting.tgRunTime"></setting-list-item>
                            </a-list>
                        </a-tab-pane>
                        <a-tab-pane key="5" tab="Múi Giờ">
                            <a-list item-layout="horizontal" style="background: white">
                                <setting-list-item type="text" title="Múi giờ" desc="Các tác vụ đã lên lịch chạy theo thời gian trong múi giờ，Khởi động lại bảng điều khiển để có hiệu lực" v-model="allSetting.timeLocation"></setting-list-item>
                            </a-list>
                        </a-tab-pane>
                    </a-tabs>
                </a-space>
		</a-row>
                </transition>


            </a-spin>

	    <!-- Footer -->
            <footer class="sticky-footer bg-white" style="margin-top: 24px; margin-left: 0px; margin-right: 0px; margin-bottom: 0px;">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; X-UI Unofficial</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

            <!-- Logout Modal-->
            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Bạn thực sự muốn đăng xuất ???</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                   <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Khi chọn "Đăng xuất" bạn sẻ quay lại màn hình đăng nhập.</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Trở lại</button>
                            <a class="btn btn-primary" href="{{ .base_path }}logout">Đăng xuất</a>
                        </div>
                    </div>
                </div>
             </div>

        </a-layout-content>
    </a-layout>

<!-- Bootstrap core JavaScript-->
<script src="{{ .base_path }}assets/vendor/jquery/jquery.min.js"></script>
<script src="{{ .base_path }}assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="{{ .base_path }}assets/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="{{ .base_path }}assets/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="{{ .base_path }}assets/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="{{ .base_path }}assets/js/demo/chart-area-demo.js"></script>
<script src="{{ .base_path }}assets/js/demo/chart-pie-demo.js"></script>

</a-layout>

{{template "js" .}}
{{template "component/setting"}}

<script>

    const app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            siderDrawer,
            spinning: false,
            oldAllSetting: new AllSetting(),
            allSetting: new AllSetting(),
            saveBtnDisable: true,
            user: {},
        },
        methods: {
            loading(spinning = true) {
                this.spinning = spinning;
            },
            async getAllSetting() {
                this.loading(true);
                const msg = await HttpUtil.post("/xui/setting/all");
                this.loading(false);
                if (msg.success) {
                    this.oldAllSetting = new AllSetting(msg.obj);
                    this.allSetting = new AllSetting(msg.obj);
                    this.saveBtnDisable = true;
                }
            },
            async updateAllSetting() {
                this.loading(true);
                const msg = await HttpUtil.post("/xui/setting/update", this.allSetting);
                this.loading(false);
                if (msg.success) {
                    await this.getAllSetting();
                }
            },
            async updateUser() {
                this.loading(true);
                const msg = await HttpUtil.post("/xui/setting/updateUser", this.user);
                this.loading(false);
                if (msg.success) {
                    this.user = {};
                }
            },
            async restartPanel() {
                await new Promise(resolve => {
                    this.$confirm({
                        title: 'Khởi động lại Dashboard',
                        content: 'Bạn có chắc chắn muốn khởi động lại bảng điều khiển không? Nhấn OK để khởi động lại sau 3 giây. Nếu bạn không thể truy cập bảng điều khiển sau khi khởi động lại, vui lòng truy cập máy chủ để xem thông tin nhật ký bảng điều khiển',
                        okText: 'Đồng ý',
                        cancelText: 'Hủy bỏ',
                        onOk: () => resolve(),
                    });
                });
                this.loading(true);
                const msg = await HttpUtil.post("/xui/setting/restartPanel");
                this.loading(false);
                if (msg.success) {
                    this.loading(true);
                    await PromiseUtil.sleep(5000);
                    location.reload();
                }
            }
        },
        async mounted() {
            await this.getAllSetting();
            while (true) {
                await PromiseUtil.sleep(1000);
                this.saveBtnDisable = this.oldAllSetting.equals(this.allSetting);
            }
        },
    });

</script>
</body>
</html>
