<!DOCTYPE html>
<html lang="en">
    <meta charset = "utf-8">
{{template "head" .}}
<style>
    @media (min-width: 769px) {
        .ant-layout-content {
            margin: 24px 16px;
        }
    }

    .ant-col-sm-24 {
        margin-top: 10px;
    }

    .ant-tabs-bar {
        margin: 0;
    }

    .ant-list-item {
        display: block;
    }

    .ant-tabs-top-bar {
        background: white;
    }
</style>
<body>
    <a-layout id="app" v-cloak>
        {{ template "commonSider" . }}
        <a-layout id="content-layout">
            <a-layout-content>
                <a-spin :spinning="spinning" :delay="500" tip="loading">
                    <a-space direction="vertical">
                        <a-space direction="horizontal">
                            <a-button type="primary" :disabled="saveBtnDisable" @click="updateAllSetting">Lưu
                               cấu hình
                            </a-button>
                            <a-button type="danger" :disabled="!saveBtnDisable" @click="restartPanel">Khởi động lại
                            </a-button>
                        </a-space>
                        <a-tabs default-active-key="1">
                            <a-tab-pane key="1" tab="Cấu hình X-UI">
                                <a-list item-layout="horizontal" style="background: white">
                                    <setting-list-item type="text" title="X-UI listening IP"
                                        desc="Bảng điều khiển sẽ cho phép IP này. Để trống để cho phép tất cả các IP. Khởi động lại bảng điều khiển để có hiệu lực"
                                        v-model="allSetting.webListen"></setting-list-item>
                                    <setting-list-item type="number" title="X-UI listening port"
                                        desc="Restart lại X-UI chấp nhận để thay đổi cổng port" v-model.number="allSetting.webPort">
                                    </setting-list-item>
                                    <setting-list-item type="text" title="Đường dẫn file certificate.crt"
                                        desc="Điền vào một đường dẫn '/', khởi động lại X-UI để có hiệu lực"
                                        v-model="allSetting.webCertFile"></setting-list-item>
                                    <setting-list-item type="text" title="Đường dẫn file Private.key"
                                        desc="Điền vào một đường dẫn '/', khởi động lại X-UI để có hiệu lực"
                                        v-model="allSetting.webKeyFile"></setting-list-item>
                                    <setting-list-item type="text" title="Panel url path"
                                        desc="Phải được bắt đầu '/' hoặc kết thúc bằng '/', khởi động lại X-UI để có hiệu lực"
                                        v-model="allSetting.webBasePath"></setting-list-item>
                                </a-list>
                            </a-tab-pane>
                            <a-tab-pane key="2" tab="Cài đặt người dùng">
                                <a-form style="background: white; padding: 20px">
                                    <a-form-item label="Tên tài khoản hiện tại">
                                        <a-input v-model="user.oldUsername" style="max-width: 300px"></a-input>
                                    </a-form-item>
                                    <a-form-item label="Mật khẩu hiện tại">
                                        <a-input type="password" v-model="user.oldPassword" style="max-width: 300px">
                                        </a-input>
                                    </a-form-item>
                                    <a-form-item label="Tên tài khoản mới">
                                        <a-input v-model="user.newUsername" style="max-width: 300px"></a-input>
                                    </a-form-item>
                                    <a-form-item label="Mật khẩu mới">
                                        <a-input type="password" v-model="user.newPassword" style="max-width: 300px">
                                        </a-input>
                                    </a-form-item>
                                    <a-form-item>
                                        <a-button type="primary" @click="updateUser">Modify</a-button>
                                    </a-form-item>
                                </a-form>
                            </a-tab-pane>
                            <a-tab-pane key="3" tab="Cài đặt của X-ray">
                                <a-list item-layout="horizontal" style="background: white">
                                    <setting-list-item type="textarea" title="XRAY configuration template"
                                        desc="Tạo tệp cấu hình xray cuối cùng dựa trên mẫu này, khởi động lại X-UI để có hiệu lực"
                                        v-model="allSetting.xrayTemplateConfig">
                                    </setting-list-item>
                                </a-list>
                            </a-tab-pane>
                            <a-tab-pane key="4" tab="Cài đặt Bot Telegram">
                                <a-list item-layout="horizontal" style="background: white">
                                    <setting-list-item type="switch" title="Khởi động Telegram Bot"
                                        desc="khởi động lại X-UI để có hiệu lực" v-model="allSetting.tgBotEnable">
                                    </setting-list-item>
                                    <setting-list-item type="text" title="Telegram Bot TOKEN"
                                        desc="khởi động lại X-UI để có hiệu lực" v-model="allSetting.tgBotToken">
                                    </setting-list-item>
                                    <setting-list-item type="number" title="Telegram Chat ID"
                                        desc="khởi động lại X-UI để có hiệu lực" v-model.number="allSetting.tgBotChatId">
                                    </setting-list-item>
                                    <setting-list-item type="text" title="Thời gian thông báo của Bot"
                                        desc="Sử dụng định dạng thời gian Crontab (Refer to the README.md). khởi động lại X-UI để có hiệu lực"
                                        v-model="allSetting.tgRunTime"></setting-list-item>
                                </a-list>
                            </a-tab-pane>
                            <a-tab-pane key="5" tab="Cài đặt múi giờ">
                                <a-list item-layout="horizontal" style="background: white">
                                    <setting-list-item type="text" title="Múi giờ"
                                        desc="Các tác vụ đã lên lịch chạy theo múi giờ này, khởi động lại X-UI để có hiệu lực"
                                        v-model="allSetting.timeLocation"></setting-list-item>
                                </a-list>
                            </a-tab-pane>
                        </a-tabs>
                    </a-space>
                </a-spin>
            </a-layout-content>
        </a-layout>
    </a-layout>
    {{template "js" .}}
    {{template "component/setting"}}
    <script>

        const app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
                siderDrawer,
                spinning: false,
                oldAllSetting: new AllSetting(),
                allSetting: new AllSetting(),
                saveBtnDisable: true,
                user: {},
            },
            methods: {
                loading(spinning = true) {
                    this.spinning = spinning;
                },
                async getAllSetting() {
                    this.loading(true);
                    const msg = await HttpUtil.post("/xui/setting/all");
                    this.loading(false);
                    if (msg.success) {
                        this.oldAllSetting = new AllSetting(msg.obj);
                        this.allSetting = new AllSetting(msg.obj);
                        this.saveBtnDisable = true;
                    }
                },
                async updateAllSetting() {
                    this.loading(true);
                    const msg = await HttpUtil.post("/xui/setting/update", this.allSetting);
                    this.loading(false);
                    if (msg.success) {
                        await this.getAllSetting();
                    }
                },
                async updateUser() {
                    this.loading(true);
                    const msg = await HttpUtil.post("/xui/setting/updateUser", this.user);
                    this.loading(false);
                    if (msg.success) {
                        this.user = {};
                    }
                },
                async restartPanel() {
                    await new Promise(resolve => {
                        this.$confirm({
                            title: 'Khởi động lại bảng điều khiển',
                            content: 'Bạn có chắc chắn muốn khởi động lại bảng điều khiển không? Nhấn OK để khởi động lại sau 3 giây. Nếu bạn không thể truy cập bảng điều khiển sau khi khởi động lại, vui lòng truy cập máy chủ để xem thông tin nhật ký bảng điều khiển',
                            okText: 'OK',
                            cancelText: 'Cancel',
                            onOk: () => resolve(),
                        });
                    });
                    this.loading(true);
                    const msg = await HttpUtil.post("/xui/setting/restartPanel");
                    this.loading(false);
                    if (msg.success) {
                        this.loading(true);
                        await PromiseUtil.sleep(5000);
                        location.reload();
                    }
                }
            },
            async mounted() {
                await this.getAllSetting();
                while (true) {
                    await PromiseUtil.sleep(1000);
                    this.saveBtnDisable = this.oldAllSetting.equals(this.allSetting);
                }
            },
        });

    </script>
</body>
</html>
